<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/betasign_icon_brand.svg">
    <title>Betasign - Home Page</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/observer.js"></script>
    <script src="./js/hamburger.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <!-- HEADER SECTION -->
    <header id="header">
        <div id="headerLogo" class="header-logo">
            <img src="./img/betasign_brand.svg">
        </div>
        <button id="hamburger" class="hamburger" onClick="myFunction()">
            <img id="hamburger-image" src="./img/hamburger.svg">
        </button>
        <nav id="navLinks" class="mobileHeader-inactive">
            <a href="#home">Home</a>
            <a href="#products">Products</a>
            <a href="#about">About Us</a>
            <a href="#contact">Contact</a>
            <a href="imprint">Imprint</a>
        </nav>
    </header>
    <!-- HERO SECTION -->
    <section id="home">
        <div class="hero">
            <img class="hero-logo" src="./img/betasign_brand.svg" alt="Betasign Logo">
            <p>Betasign is an independent development studio based out of Scotland, creating affordable software solutions for companies on a global scale.</p>
            <a href="#products">
                <img class="hero-scroll" src="./img/arrow.svg" alt="Down Arrow">
            </a>
        </div>
        <div>
            <img class="wave" src="./img/wave.svg" alt="wave">
        </div>
    </section>
    <!-- PRODUCTS SECTION -->
    <section class="pt-3" id="products">
        <div class="container">
            <div class="mt-3">
                <h2>PRODUCTS</h2>
                <h3>Here are some of the products we have created.</h3>
            </div>
            <div>
                <div class="flexRow mt-3">
                    <div class="card">
                        <div>
                            <img src="./img/placeholder.png" alt="Placeholder image">
                        </div>
                        <div>
                            <h4>Eryx Panel</h4>
                            <p>A cheap, modern, and lightweight VPS management panel.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img src="https://billing.viteza.cloud/uploads/themes/asset/client_logo.png" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>Sever hosting, cloud storage, and VPS hosting.</p>
                        </div>
                    </div>  
                    <div class="card">
                        <div>
                            <img src="" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>Frontend Development from experienced developers.</p>
                        </div>
                    </div>               
                    <div class="card">
                        <div>
                            <img src="./img/placeholder.png" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>Backend Development from experienced developers.</p>
                        </div>
                    </div>  
                </div>
                <div class="flexRow mt-3">
                    <div class="card">
                        <div>
                            <img src="./img/placeholder.png" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>We have more products planned for the future. However, as of right now the ones listed above will be our only products.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img src="./img/placeholder.png" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>We have more products planned for the future. However, as of right now the ones listed above will be our only products.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img src="./img/placeholder.png" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>We have more products planned for the future. However, as of right now the ones listed above will be our only products.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img src="./img/placeholder.png" alt="template image">
                        </div>
                        <div>
                            <h4>Coming Soon</h4>
                            <p>We have more products planned for the future. However, as of right now the ones listed above will be our only products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT SECTION -->
    <section class="about-section pt-3 mt-5" id="about">
        <div class="container">
            <div class=>
                <h2>ABOUT US</h2>
                <h3>Here is a little bit about our company.</h3>
            </div>
            <div class="mt-3">
                <div>
                    <h4>Our Mission</h4>
                    <p>As a company, our mission is to provide affordable, and lightweight software solutions to companies around the globe. This is because during our time in the software industry we have noticed a lack in affordable and modern software.</p>
                </div>
                <div>
                    <h4>Skills</h4>
                    <p>We are a team of very skilled developers, meaning we have experience with HTML, CSS, JavaScript, and many more languages. We prefer working in JavaScript for our back-end work as it has hundreds of frameworks that we are able to work with to make the best possible and most secure back-ends.</p>
                </div>
                <div>
                    <h4>Our Story</h4>
                    <p>We don't really want to bore you with all the nitty gritty details. However, we will give you a quick summary of our story and our goals.</p>
                    <p>In May 2022 this company was founded by Olli Patrick Wesselingh, it was originally a bit of a joke just so he could say that he owned a company. Little did he know, it would become so much more.</p>
                    <p>Over a few years of experience with software in the game and web hosting industry, Olli realised there really wasn't enough up-to-date and actually good software for this industry despite it being a massive industry. In response to this shortage of good software, he decided to make some of his own, starting with the creation of Eryx, a VPS management panel. With this panel came a lot of new ideas and goals for this company.</p>
                    <p>One of these goals is to continue development and improving the hosting industry's software so that all companies can have a chance at creating great services for people. However, we believe that something great about life and the future is that it's unpredictable. You never know what may happen. So, with that being said, what we may do in the future could be literally anything, but we can tell you one thing for sure. We will put our hearts into it to ensure it will be great.</p>
                    <p>Thank you for reading our story and aspirations<br> Best regards,<br>Olli Patrick Wesselingh</p>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTACT SECTION -->
    <section id="contact">
        <div class="container">
            <div class="mb-3">
                <h2>CONTACT US</h2>
                <h3>Have a question or want to get in touch? Send us a message and we will get back to you as soon as possible.</h3>
            </div>
            <div class="center">
                <div class="contact-container">
                    <form>
                        <p>Name</p>
                        <div class="form-group">
                            <input type="text" name="name" id="name" placeholder="Your name" required>
                        </div>
                        <p>Email Adress</p>
                        <div class="form-group">
                            <input type="email" name="email" id="email" placeholder="Your email" required>
                        </div>
                        <p>Message</p>
                        <div class="form-group">
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message" required></textarea>
                        </div>
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER SECTION -->
    <section>
        <footer>
            <div class="footer-row">
                <div class="footer-column">
                    <h4>Services</h4>
                    <a href="#">Website Design</a>
                    <a href="#">Website Development</a>
                </div>
                <div class="footer-column">
                    <h4>Company</h4>
                    <a href="#contact">Contact</a>
                    <a href="#about">About Us</a>
                    <a href="#">Team</a>
                </div>
                <div class="footer-column">
                    <h4>Careers</h4>
                    <a href="#">Job Openings</a>
                    <a href="#">Employee Success</a>
                    <a href="#">Benefits</a>
                </div>
                <div class="footer-column">
                    <img src="./img/betasign_icon_brand.svg">
                    <h4>Betasign Group Limited</h4>
                    <p>As a company, our mission is to provide affordable, and lightweight software solutions to companies around the globe. This is because during our time in the software industry we have noticed a lack in affordable and modern software.</p>
                </div>
            </div>
            <div class="footer-row mb-3">
                <div class="footer-column">
                    <h4>Brands</h4>
                    <a href="#">Eryx VPS Panel</a>
                </div>
                <div class="footer-column">
                    <h4>Resources</h4>
                    <a href="https://climate.stripe.com/xkpVWw" target="_blank">Carbon Removal</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Acceptable use Policy</a>
                    <a href="#">General Terms</a>
                    <a href="#">Imprint</a>
                </div>
                <div class="footer-column">
                    <h4>Contact</h4>
                    <a href="#">Email: enquiries@betasign.co.uk</a>
                    <a href="tel:+5507596903297">Phone: +44 7596 903297</a>
                </div>
                <div class="footer-column">
                    <h4>Made with ❤️ by Betasign Group Limited</h4>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>
